body{
    margin-top: 10vh;
    background-image: url("../img/register-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    z-index: -10;
}
section{
    height: 100vh;
    width: 100%;
    padding: 3% 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -5;
}

#section1{
    background-image: url("../img/section1.jpg");
    background-size: cover;
    background-position: center 70%;
}






