body{
    background-image: url("../img/register-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    z-index: -10;
}

/* section{
    height: 100vh;
    width: 100%;
    padding: 3% 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -5;
} */

.hero-section{
    height: 100vh;
    width: 100vw;
    padding: 3% 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -5;

    background-image: url("../img/section1.jpg");
    background-size: cover;
    background-position: center 70%;
    cursor: default;
}

.welcome-message{
    width: 85%;
    min-width: 500px;
    padding: 20px 10px;
    border: 1px solid rgba(173, 216, 230, 0.1);
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.1);
    backdrop-filter: blur(5px);
}

.welcome-message h1{
    font-size: 4rem;
    font-weight: 600;
}

.welcome-message span{
    color: aqua;
}

.welcome-message h2{
    font-size: 3rem;
    color: blueviolet;
}

.welcome-message p{
    font-size: 2.2rem;
    color:black;
}


@media (max-width: 480px)
{
    /* body{
        height: 100vh;
    } */

    .welcome-message
    {
        min-width: 0;
        width: 90%;
        overflow-wrap: break-word;
    }

    .welcome-message h1{
        font-size: 3rem;
    }

    .welcome-message h2{
        font-size: 2rem;
    }

    .welcome-message p{
        font-size: 1.2rem;
    }
}







