.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}


.nav-container .inside-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 15px;
}

.nav-container .tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-container p:hover{
    cursor: pointer;
}