.navBar{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    padding: 5px 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);

}

.navBar .outer-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBar a{
    margin: 0px 5px;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Story Script";
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    transition: all 0.5s;
}

.navBar a:hover{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.229);
    transform: translateY(-10%) scale(1.05);
    text-decoration: underline;
}