.navBar {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #82f7ff6f;
    backdrop-filter: blur(5px);
}

.navBar .outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
}

.navBar .outer-container.right{
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-gutter: stable auto;
}

.outer-container.right::-webkit-scrollbar{
    height: 7px;
    width: 7px;
    margin-block: 1rem;
}

.outer-container.right::-webkit-scrollbar-track{
    background-color: rgb(140 188 202);
    border-radius: 20px;
}

.outer-container.right::-webkit-scrollbar-thumb{
    background-color: rgb(117 133 255);
    border-radius: 20px;
}

.outer-container.right::-webkit-scrollbar-thumb:hover{
    background-color:rgb(57 87 207);
}



.navBar a {
    margin: 10px 10px;
    padding: 10px 10px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    color: #202020;
    transition: all 0.5s;
}

.navBar a:not(.logo):hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.229);
    transform: translateY(-10%) scale(1.05);
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width: 480px) {
    .navBar{
        padding: 10px;
    }
    .navBar .outer-container.right{
        overflow-x: auto;
    }
}