body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/register-background.jpg"), url("../img/login-background.jpg");
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;

}

.wrapper {
    min-width: 420px;
    width: 30%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 5px lightblue;
    color: white;
    padding: 30px 40px;
    border-radius: 15px;
}

.wrapper h1 {
    font-size: 2.5rem;
    text-align: center;
}

.wrapper .input-container {
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
}

.input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    padding: 0px 50px 0px 20px;
    font-size: 1.1rem;
    color: white;
}

.input-container input::placeholder {
    color: white;
}

.input-container i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .remember-forget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: -15px 0px 15px;
}

.remember-forget-container input {
    margin-right: 5px;
    accent-color: white;
}

.remember-forget-container a {
    text-decoration: none;
    color: white;
}

.remember-forget-container a:hover {
    text-decoration: underline;
}

.wrapper .submit-btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-weight: 600;
}

.wrapper .no-account-container {
    text-align: center;
    font-size: 0.9rem;
    margin: 20px 0px 15px;
}

.no-account-container p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.no-account-container p a:hover {
    text-decoration: underline;
}

.wrapper .login-container{
    text-align: center;
    font-size: 0.9rem;
    margin: 20px 0px 15px;
}
.wrapper .login-container p a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .login-container p a:hover{
    text-decoration: underline;
}